body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background: rgb(236, 181, 28);
  }

  h1 {
    color: #0c87ebde;
    margin-bottom: 20px;
  }

  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
  }

  .score-box {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2em;
  }

  .red-score {
    background-color: #ffdddd;
    color: #ff0000;
  }

  .yellow-score {
    background-color: #fffdd0;
    color: #ccaa00;
  }

  .turn-indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #333;
  }

  .board {
    background-color: #0066cc;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .column{
    display: flex;
    flex-direction: column-reverse;
    
  }

  .cell {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #0052a3;
  }